.depoimentos {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: var(--vermelho-claro2);
    padding: 4rem;
    gap: 2rem;
    border-radius: 16px;
}

.depoimentos__subtitulo {
    text-align: center;
    color: var(--vermelho);
    font-size: 0.875rem;
    font-weight: 600;
}

.depoimentos__titulo {
    font-size: 2.25rem;
    font-weight: 500;
    color: var(--destaque);
    letter-spacing: -2%;
}

.depoimentos__imagem {
    width: 3.5rem;
}

.depoimentos__texto {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.depoimentos__nome {
    font-weight: 500;
    color: var(--destaque);
    line-height: 1.5rem;
}

.depoimentos__cargo {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem; 
}